body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

/* Sections */
section {
    padding: 60px;
}

/* Skills */
.skill-box span {
    background: #334155;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 8px;
}

/* Projects */
.project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.02);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}
